---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc*,-hicpp-braces-around-statements,-readability-braces-around-statements'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none
